<h1>Change information about <%= @dog.name %></h1>

<%= simple_form_for @dog do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :breed %>
  <%= f.input :category %>
  <%# <%= f.select :category, :collection => Dog::DOG_CATEGORY %> %>
  <%= f.input :description %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit "Submit review", class:"btn btn-dark" %>
<% end %>
