<h1>Find the next truffle</h1>


<%= render "shared/searchbar" %>


<h2>Available truffle</h2>

<ul>
  <% @dogs.each do |dog| %>
    <div>
    <h5><%= link_to dog.name, dog_path(dog) %></h5>
    <%= dog.breed %> •
    <%= dog.category %> •
    <%= dog.age %> years old<br>
    <%= dog.description %>
    <%= dog.start_date %>
    <%= dog.end_date %>
    </div>
  <% end %>
</ul>


<%= link_to "Back to homepage", root_path %>
<%= link_to "Add a dog", new_dog_path %>
