<h1 style="margin:0px 50px">Find the next truffle</h1>


<%= render "shared/searchbar" %>


<h2 style="margin:0px 50px">Available truffle</h2>

<% @dogs.each do |dog| %>
  <div class="card-product-dog">
    <img src="https://source.unsplash.com/random"/>
    <div class="card-product-infos-dog">
      <h2><%= link_to dog.name, dog_path(dog) %></h2>
      <h6><%= dog.breed %> •
      <%= dog.category.capitalize %> •
      <%= dog.age %> years old<br></h6>
      <p><%= dog.description %></p>
      <h6>Available from <%= dog.start_date %> to
      <%= dog.end_date %></h6>
    </div>
  </div>
  <% end %>
