<h1>Add a new truffle</h1>

<%= simple_form_for @dog do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :breed %>
  <%= f.select :category, :collection => Dog::DOG_CATEGORY %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Create", class:"button-first" %>
<% end %>

<%# if policy(Dog).create? %>
  <%#= link_to "New truffle", new_dog_path %>
<%# end %>
