<%= render "shared/searchbar-index" %>
<div id="top-page" class="container dog-show show-js">
  <div class="white" style="height: 125px"></div>
  <h1>🐶 Welcome to <%= @dog.name.capitalize %>'s world 🐶</h1>

  <ul>
    <div class="flex justify-content-between">
      <div class="flex">

        ⭐ <% if @aggregated_reviews.nil? == true %> <%= "no reviews yet" %>
        <% else %> <%= @aggregated_reviews %> <% end %>
        🐕 <%= @dog.breed.capitalize %>
        ⏳ <%= @dog.age %> y.o.
        🦴 <%= @dog.category.capitalize %>

      </div>
      <li><em>"<%= @dog.description.capitalize %>"</em></li>
    </div>
  </ul>

  <div class="big-picture">
    <%= cl_image_tag @dog.photos[0].key %>
    <div class="small-picture">
        <%= cl_image_tag @dog.photos[1].key %>
        <%= cl_image_tag @dog.photos[2].key %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6 my-3">
      <% if @aggregated_reviews.nil? == true %>
        <%= "" %>
      <% else %>
        <%# if @dog.reviews.nil? %>
          <%# <small><em class="px-3">This dog has no reviews for now</em></small> %>
        <%# end %>
        <h5>Reviews</h5>
        <hr>
        <% if @dog.reviews == [] %>
          <small><em><p>No reviews (for now)</p></em></small>
        <% else %>
          <% @dog.reviews.each do |review| %>
            <div class="card-product">
              <div class="card-product-infos">
                <h2><%= review.booking.user.first_name %></h2>
                <h2><%= review.rating / 10 %></h2>
                <p><%= review.comment %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-12 col-lg-6 my-3">
      <div class="form">
        <h5 class="my-3">🐶 Book <strong><%= @dog.name.capitalize %></strong> 🐶</h5>
        <%= simple_form_for [@dog, @booking] do |f| %>
          <%= f.input :start_date, as: :date, html5: true, class: "form-control" %>
          <%= f.input :end_date, as: :date, html5: true, class: "form-control" %>
          <%= f.submit class: "button-first" %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="map"
    style="width: 100wv; height: 480px; margin: 50px 0; border-radius: 10px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
    <%# if policy(@Dog).edit? %>
      <%#= link_to "Update", dog_path(@dog)%>
    <%# end %>

</div>
