<h1><%= @dog.name.capitalize %>'s profil</h1>

<%= link_to "edit", edit_dog_path %>

<ul>
  <% @dog.photos.each do |photo| %>
    <%= cl_image_tag photo.key %>
  <% end %>
  <li>Breed : <%= @dog.breed.capitalize %></li>
  <li>Age : <%= @dog.age %></li>
  <li>Category : <%= @dog.category.capitalize %></li>
  <li>Description : <%= @dog.description.capitalize %></li>
</ul>

<h3>Reviews</h3>

<%# <ul> %>
  <%# @dog.reviews.each do |review| %>
    <li><%#= review.comment %> <%#= review.rating %>/10</li>
  <%# end %>
<%# </ul> %>

<%= link_to "Back to homepage", root_path %>
