<%= render "shared/searchbar" %>

<div class="container dog-show">
  <h1>🐶 Welcome to <%= @dog.name.capitalize %> world 🐶</h1>

  <ul>
    <div class="flex justify-content-between">
      <div class="flex">
        <li>⭐ <% if @aggregated_reviews.nil? == true %> <%= "no reviews yet" %>
        <% else %> <%= @aggregated_reviews %> <% end %> </li>
        <li>🐕 <%= @dog.breed.capitalize %></li>
        <li>⏳ <%= @dog.age %> y.o.</li>
        <li>🦴 <%= @dog.category.capitalize %></li>
      </div>
      <li><em>"<%= @dog.description.capitalize %>"</em></li>
    </div>
  </ul>
  <hr>

  <div class="big-picture">
    <%= cl_image_tag @dog.photos[0].key %>
      <div class="small-picture">
          <%= cl_image_tag @dog.photos[1].key %>
          <%= cl_image_tag @dog.photos[2].key %>
      </div>
  </div>

  <hr>
    <ul>
      <% if @aggregated_reviews.nil? == true %>
        <%= "" %>
      <% else %>
        <%# if @dog.reviews.nil? %>
          <%# <small><em class="px-3">This dog has no reviews for now</em></small> %>
        <%# end %>
        <h5>Reviews</h5>
        <% @dog.reviews.each do |review| %>
          <div class="card-product">
            <div class="card-product-infos">
              <h2><%= review.rating.nil? ? "No rating yet" : "#{review.rating} / 5" %></h2>
              <p><%= review.comment %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </ul>
    <%# if policy(@Dog).edit? %>
      <%#= link_to "Update", dog_path(@dog)%>
    <%# end %>
  <hr>
  <h5>🐶 Book <strong><%= @dog.name.capitalize %></strong> 🐶</h5>
    <div class="container card-style" style="margin-bottom:12px">
      <div >
        <div class="form">
          <%= simple_form_for [@dog, @booking] do |f| %>
            <%= f.input :start_date, as: :date, html5: true, class: "form-control" %>
            <%= f.input :end_date, as: :date, html5: true, class: "form-control" %>
            <%= f.submit class: "button-first" %>
          <% end %>
        </div>
      </div>
    </div>
</div>
