<%= render "shared/searchbar" %>

<div class="container dog-show">
  <h1>🐶 Welcome to <%= @dog.name.capitalize %> world 🐶</h1>

  <ul>
    <% @dog.photos.each do |photo| %>
      <%= cl_image_tag photo.key %>
    <% end %>
    <div class="flex justify-content-between">
      <div class="flex">
        <li>⭐ <% if @aggregated_reviews.nan? == true %> <%= "no reviews yet" %>
        <% else %> <%= @aggregated_reviews %> <% end %> </li>
        <li>🐕 <%= @dog.breed.capitalize %></li>
        <li>⏳ <%= @dog.age %> y.o.</li>
        <li>🦴 <%= @dog.category.capitalize %></li>
      </div>
      <li><em>"<%= @dog.description.capitalize %>"</em></li>
    </div>
  </ul>
  <hr>
  <%# <div class="row">
    <div class="flex">
      <div class= "col-6">
        <img class="front-picture" src="https://a0.muscache.com/im/pictures/5cac9e7b-8b9f-4e56-8746-3e73ff2bf52e.jpg?im_w=720" style="object-fit: cover;">
      </div>
      <div class= "col">
        <img class="mid-picture" src="https://a0.muscache.com/im/pictures/dbc5696f-5d1c-4632-b5a8-197f27a11348.jpg?im_w=720" style="object-fit: cover; vertical-align: bottom;">
        <%# <img class="mid-picture" src="https://a0.muscache.com/im/pictures/dbc5696f-5d1c-4632-b5a8-197f27a11348.jpg?im_w=720" style="object-fit: cover; vertical-align: bottom;"> %>
      <%# </div>
      <div class= "col">
        <img class="side-picture-top" src="https://a0.muscache.com/im/pictures/dbc5696f-5d1c-4632-b5a8-197f27a11348.jpg?im_w=720" style="object-fit: cover; vertical-align: bottom;"> %>
        <%# <img class="side-picture-bottom" src="https://a0.muscache.com/im/pictures/dbc5696f-5d1c-4632-b5a8-197f27a11348.jpg?im_w=720" style="object-fit: cover; vertical-align: bottom;"> %>
      <%# </div>
    </div>
  </div> %>

  <div class="big-picture">
    <img src="https://a0.muscache.com/im/pictures/5cac9e7b-8b9f-4e56-8746-3e73ff2bf52e.jpg?im_w=720" style="object-fit: cover;">
      <div class="small-picture">
        <img class="first" src="https://a0.muscache.com/im/pictures/dbc5696f-5d1c-4632-b5a8-197f27a11348.jpg?im_w=720" style="object-fit: cover; vertical-align: bottom;">
        <img class="first" src="https://a0.muscache.com/im/pictures/dbc5696f-5d1c-4632-b5a8-197f27a11348.jpg?im_w=720" style="object-fit: cover; vertical-align: bottom;">
      </div>
  </div>

  <hr>
    <ul>
      <% if @aggregated_reviews.nan? == true %>
        <%= "" %>
      <% else %>
        <%# if @dog.reviews.nil? %>
          <%# <small><em class="px-3">This dog has no reviews for now</em></small> %>
        <%# end %>
        <h5>Reviews</h5>
        <% @dog.reviews.each do |review| %>
          <div class="card-product">
            <div class="card-product-infos">
              <h2><%= review.rating.nil? ? "No rating yet" : "#{review.rating} / 5" %></h2>
              <p><%= review.comment %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </ul>
    <%# if policy(@Dog).edit? %>
      <%#= link_to "Update", dog_path(@dog)%>
    <%# end %>
  <hr>
  <h5>🐶 Book <strong><%= @dog.name.capitalize %></strong> 🐶</h5>
    <div class="container card-style">
      <div >
        <div class="form">
          <%= simple_form_for [@dog, @booking] do |f| %>
            <%= f.input :start_date, as: :date, html5: true, class: "form-control" %>
            <%= f.input :end_date, as: :date, html5: true, class: "form-control" %>
            <%= f.submit class: "button-first" %>
          <% end %>
        </div>
      </div>
    </div>
</div>
