
<div class="container">
  <h1>Your Bookings: </h1>
  <div class="row">
    <div class="class col-12">
      <% @bookings.each do |booking| %>
        <% dog = Dog.find(booking.dog_id) %>
        <% user = User.find(booking.user_id) %>
        <% review = Review.new %>
        <div class="main-booking-info">
          <div class="main-booking-info-left">
            <li><%= dog.name %></li>
            <li><%= user.first_name %></li>
            <li><%= booking.status %></li>
          </div>
          <div class="main-booking-info-right">
            <div>
              <li><%= booking.start_date %></li>
              <li><%= booking.end_date %></li>
            </div>
            <li class="btn btn-primary">details</li>
          </div>
        </div>
        <% if booking.status == "approved" && booking.reviews.length == 0 %>
          <div class="col-12 col-sm-6 my-3">
            <div class="pb-3 px-3">
              <h5>Add your review</h5>
              <%= simple_form_for [booking, review] do |f| %>
                <%= f.input :comment, placeholder: 'Add your review' %>
                <%= f.input :rating %>
                <%= f.submit class:'btn btn-flat' %>
              <% end %>
            </div>
          </div>
        <% else %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review-modal">
            See your review
          </button>
          <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="review-modalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="review-modalTitle">Your review</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= booking.reviews[0].comment %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# @bookings.each do |booking| %>
  <%# if policy(booking).edit? %>
    <%#= link_to "Update", booking_path(booking) %>
  <%# end %>
<%# end %>
