
<div class="container">
  <h1>Your Bookings</h1>
  <div class="row">
    <div class="col-12 col-sm-6 my-3">
      <% @bookings_approved.each_with_index do |booking, index| %>
        <% dog = Dog.find(booking.dog_id) %>
        <% user = User.find(dog.user_id) %>
        <% review = Review.new %>
        <div class="booking-card">
          <% if dog.photos.attached? %>
            <%= cl_image_tag dog.photos[0].key, class:"booking-card-image" %>
          <% else %>
            <%= image_tag 'home.jpg', class:"booking-card-image" %>
          <% end %>
          <div class="booking-card-content">
            <div class="booking-card-title">
              <h4><%= dog.name %></h4>
              <% if booking.reviews.length != 0 %>
                <button type="button" class="button-second" data-toggle="modal" data-target="#review-modal<%=index%>">
                  See your review
                </button>
              <% elsif booking.status == "approved" %>
                <button type="button" class="button-second" data-toggle="modal" data-target="#create-review-modal<%=index%>">
                  Create a review
                </button>
              <% end %>
            </div>
            <div class="booking-card-dates">
              <div>
                <p>from <strong><%= booking.start_date %></strong></p>
                <p>to <strong><%= booking.end_date %></strong></p>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="review-modal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="review-modalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="review-modalTitle<%=index%>">Your review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">                 
                <% if booking.reviews == [] %>
                  <small><em class="px-3">You didn't put any review for now</em></small>
                <% else %>
                  <%= booking.reviews[0].comment %>
                <% end %>                  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="create-review-modal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="review-modalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="create-review-modalTitle<%=index%>">Add your review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">                 
                <div class="col-12 col-sm-6 my-3">
                  <div class="pb-3 px-3">
                    <%= simple_form_for [booking, review] do |f| %>
                      <%= f.input :comment, placeholder: 'Add your review' %>
                      <%= f.input :rating %>
                      <%= f.submit class:'button-first' %>
                    <% end %>
                  </div>
                </div>               
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
    <div class="col-12 col-sm-6 my-3">
      <div class="booking-card-pending">
        <h2>Pending Bookings</h2>
        <% @bookings_pending.each do |booking| %>
          <% dog = Dog.find(booking.dog_id) %>
          <% user = User.find(dog.user_id) %>
          <div class="booking-card">
            <% if dog.photos.attached? %>
              <%= cl_image_tag dog.photos[0].key, class:"booking-card-image" %>
            <% else %>
              <%= image_tag 'home.jpg', class:"booking-card-image" %>
            <% end %>
            <div class="booking-card-content">
              <div class="booking-card-title">
                <h4><%= dog.name %></h4>
                <p><%= user.first_name %></p>
                <%= booking.status %>
              </div>
              <div class="booking-card-dates">
                <div>
                  <p>from <strong><%= booking.start_date %></strong></p>
                  <p>to <strong><%= booking.end_date %></strong></p>
                </div>
              </div>
            </div>
          </div>
         <% end %>
      </div>
    </div>

  </div>
</div>

<%# @bookings.each do |booking| %>
  <%# if policy(booking).edit? %>
    <%#= link_to "Update", booking_path(booking) %>
  <%# end %>
<%# end %>
