<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 my-3">
      <div class="booking-cards">
        <h3>Pending Bookings</h3>

        <% @bookings_pending.each do |booking| %>
          <% dog = Dog.find(booking.dog_id) %>
          <% user = User.find(dog.user_id) %>

          <div class="booking-card booking-card-pending">
            <% if dog.photos.attached? %>
              <%= cl_image_tag dog.photos[0].key, class:"booking-card-image" %>
            <% else %>
              <%= image_tag 'home.jpg', class:"booking-card-image" %>
              <% end %>
            <div class="booking-card-content">
              <div class="booking-card-title">
                <h4><%= link_to dog.name, dog_path(dog) %></h4>
                <div class="booking-card-date">
                <div>
                  <p>from</p>
                  <p>to</p>
                </div>
                <div class="dates">
                  <strong><%= booking.start_date %></strong>
                  <strong><%= booking.end_date %></strong>
                </div>
              </div>
              </div>
              <div class="booking-card-buttons">
                <p><%= user.first_name %></p>
                <div class="mt-3">
                  <%= link_to "cancel", booking_path(booking), method: :delete, data: { confirm: 'Are you sure you want to cancel this booking ?' }, class: "button-second" %>
                  <%= link_to "edit", edit_booking_path(booking), class: "button-second" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6 my-3">
      <div class="booking-cards">
        <h3>Your past bookings</h3>

        <% @bookings_approved.each_with_index do |booking, index| %>
          <% dog = Dog.find(booking.dog_id) %>
          <% user = User.find(dog.user_id) %>
          <% review = Review.new %>

          <div class="booking-card booking-card-past">
            <% if dog.photos.attached? %>
              <%= cl_image_tag dog.photos[0].key, class:"booking-card-image" %>
            <% else %>
              <%= image_tag 'home.jpg', class:"booking-card-image" %>
            <% end %>
            <div class="booking-card-content">
              <div class="booking-card-title">
                <h4><%= link_to dog.name, dog_path(dog) %></h4>
                <div class="booking-card-date">
                  <div>
                    <p>from</p>
                    <p>to</p>
                  </div>
                  <div class="dates">
                    <strong><%= booking.start_date %></strong>
                    <strong><%= booking.end_date %></strong>
                  </div>
                </div>
              </div>
              <% if booking.status == "approved" && booking.reviews.length == 0 %>
                <button type="button" class="button-second" data-toggle="modal" data-target="#create-review-modal<%=index%>">
                  Create a review
                </button>
              <% end %>
            </div>
            <div class="review">
              <strong><p>your review :</p></strong>
              <% if booking.reviews.length != 0 %>
                <%= booking.reviews[0].comment %>
                <p><%= booking.reviews[0].rating %> /10 </p>
              <% end %>
            </div>
          </div>

          <div class="modal fade" id="create-review-modal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="review-modalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="create-review-modalTitle<%=index%>">Add your review</h5>
                </div>
                <div class="modal-body">
                  <div class="col-12 col-sm-6 my-3">
                    <div class="pb-3 px-3">
                      <%= simple_form_for [booking, review] do |f| %>
                        <%= f.input :comment, placeholder: 'Add your review' %>
                        <%= f.input :rating %>
                        <%= f.submit class:'button-first' %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="button-second" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%# @bookings.each do |booking| %>
  <%# if policy(booking).edit? %>
    <%#= link_to "Update", booking_path(booking) %>
  <%# end %>
<%# end %>
