<div class="container">
  <h1>Bookings Details </h1>
  <div class="main-booking-info">
    <div class="main-booking-info-left">
      <li><%=@user.first_name%> <%=@user.last_name%></li>
      <li><%=@dog.name%></li>
      <li><%=@review.rating%></li>
      <li><%=@user.city%></li>
    </div>
    <div class="main-booking-info-right">
      <li>Share</li>
      <li>Safe</li>
    </div>
  </div>
  <h1>Bookings Photos</h1>
  <h1>Bookings Form</h1>
  <h1>Bookings Category</h1>
  <h1>Bookings Rating</h1>
  <h1>Bookings Map</h1>
</div>
