
<div class="navbar navbar-expand-sm navbar-light navbar-truffe">

  <div class="flex">
    <%= link_to root_path do %>
      <%= image_tag "dog-logo.png", class: "logo" %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <div class="profile dropdown-toggle" id="navbarDropdown" data-toggle= "dropdown">
          <div class="dropdown-menu dropdown-menu-right list-limit" aria-labelledby="navbarDropdown">
            <%= link_to "Update profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
          <i class="fas fa-align-justify"></i>
          <%= image_tag "empty-profile", class: "avatar" %>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
