<div class="cover cover-index">
  <div class="container">
    <h1>TRUFFE</h1>
    <p class="subtitle">
      <span id="banner-typed-text"></span>
    </p>
    <%= render "shared/searchbar" %>
  </div>
</div>

<div class="container">
  <h2 class="my-4 text-center">A dog, a hobby</h2>
  <div class="card-boxes margin">
    <div class="cards">
      <%= link_to dogs_path(category: "walk") do %>
        <div class="categories">
          <h5>Walk</h5>
          <%= image_tag "cards/walk.png" %>
        </div>
      <% end %>
    </div>
    <div class="cards">
      <%= link_to dogs_path(category: "sport") do %>
        <div class="categories">
          <h5>Sport</h5>
          <%= image_tag "cards/sport.png" %>
        </div>
      <% end %>
    </div>
     <div class="cards">
      <%= link_to dogs_path(category: "flirt") do %>
        <div class="categories">
          <h5>Flirting</h5>
          <%= image_tag "cards/flirting.png" %>
        </div>
      <% end %>
    </div>
     <div class="cards">
      <%= link_to dogs_path(category: "companion") do %>
        <div class="categories">
          <h5>Companion</h5>
          <%= image_tag "cards/companion.png" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-boxes margin">
     <div class="cards">
      <%= link_to dogs_path(category: "hunt") do %>
        <div class="categories">
          <h5>Hunting</h5>
          <%= image_tag "cards/hunt.png" %>
        </div>
      <% end %>
    </div>
    <div class="cards">
      <%= link_to dogs_path(category: "holiday") do %>
        <div class="categories">
          <h5>Holiday</h5>
          <%= image_tag "cards/holiday.png" %>
        </div>
      <% end %>
    </div>
    <div class="cards">
      <%= link_to dogs_path(category: "education") do %>
        <div class="categories">
          <h5>Education</h5>
          <%= image_tag "cards/education.png" %>
        </div>
      <% end %>
    </div>
    <div class="cards">
      <%= link_to dogs_path(category: "breeding") do %>
        <div class="categories">
          <h5>Breeding</h5>
          <%= image_tag "cards/breeding.png" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="margin-top">
  <h2 class="my-4 margin text-center">Meet our top dogs 🏆</h2>
  <% unless @dogs.empty? %>
    <div class="container flex-carousel">
      <div class="left-transparent">
        <p></p>
      </div>
        <p></p>
      <div class="right-transparent">
      </div>
      <div class="dog-carousel">
        <div class="dogs-container">
          <% @dogs.each do |dog| %>
            <%= link_to dog_path(dog) do %>
              <div class="card cards mx-3">
                <div class="dog-name">
                  <%= dog.name %>
                </div>
                <div class="dog-review">
                  <% aggregated_reviews = dog.reviews.sum(:rating) / dog.reviews.size %>
                  <p>⭐ <%= aggregated_reviews.round(1) %> / 10</p>
                </div>
                <div class="top-dog-picture">
                  <%= cl_image_tag dog.photos[0].key, crop: :fill %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="margin-top margin-bottom mb-5" >
  <%= link_to new_dog_path(category: "holiday") do %>
    <div class="card-owner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "cards/dogowner.png" %>')">
      <div class="">
        Become a Truffe dog owner
      </div>
      <div class="owner-paragraph">
        Enable your dog to become part of Truffe family! <br> Truffe is the friendliest and safest community to find the right person <br>to take care of your doggie once you're away for a couple of days
      </div>
      <div>
        <p style="margin-top: 30px;" class="button-first">Become a dog owner</p>
      </div>
    </div>
  <% end %>
</div>
